# === Build artifacts ===
*.o
*.d
*.hex
*.bin
*.elf
*.map
*.lst
*.axf
*.dep
*.crf
*.lnp
*.build_log.htm

# === Keil µVision ===
Objects/
Listings/
RTE/
DebugConfig/
*.uvguix.*
*.bak
*.dbgconf

# === STM32CubeMX ===
*.mxproject

# === Proteus ===
*.PWI
Backup of *

# === OS ===
Thumbs.db
.DS_Store
desktop.ini

# === IDE ===
.vscode/
.idea/

# === LaTeX ===
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls

# === Proteus Workspace ===
*.workspace
*.pdsprj.ABIGAILPC.*
*Backup*
Project Backups/
*\[Autosaved\]*



